@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
@import url('https://fonts.googleapis.com/css?family=Heebo');
@import url('https://fonts.googleapis.com/css?family=Baloo');
body{
	background: url("../img/background.jpg");
}

/*!!!!!!!!!!!!!!!!!!INICIO!!!!!!!!!!!!!!!!!!!*/
section.inicio{
	height: 100vh;
	width: 100vw;
	display: block;
	overflow: hidden;
}
section.inicio h1{
	text-align: center;
	font-family: "Baloo";
	font-size: 4em;
	text-shadow: 2px 2px #487eb0;
	color: #ED4C67;
	padding: 5vh 0 0.5vh 0;
	letter-spacing: 2vw;
}
.inicio h2{
	text-align: center;
	font-family: "Baloo";
	font-size: 0.9em;
	text-shadow: 1px 1px #487eb0;
	color: #000000;
	padding: 0vh 0 1vh 0;
	letter-spacing: 2vw;
}
.inicio ul{
text-align: center;
margin-top: 25vh;
}
.inicio ul li.bvenda{
	background: #487eb0;
	box-shadow: 2px 2px #ED4C67;
	padding: 6vw;
	margin-left: 15vw;
	margin-right: 15vw;
	font-family: "Baloo";
	font-size: 1em;
	text-shadow: 1px 1px #000000;
	color: white;
}
.inicio ul li.bcompra{
	background: #ED4C67;
	box-shadow: 2px 2px #487eb0;
	padding: 6vw;
	margin-left: 15vw;
	margin-right: 15vw;
	margin-top: 3vh;
	font-family: "Baloo";
	font-size: 1em;
	text-shadow: 1px 1px #000000;
	color: white;
}
.inicio p{
	position: relative;
	top: 15vh;
	text-align: center;
	font-size: 0.5em;
	font-family: "Heebo"
}
.inicio h3{
	text-align: center;
	font-family: "Baloo";
	font-size: 1.4em;
	text-shadow: 1px 1px #487eb0;
	color: #000000;
	padding: 0vh 0 1vh 0;
	margin-top: 2vh;
}
.inicio h4{
	text-align: center;
	font-family: "Baloo";
	font-size: 1em;
	text-shadow: 1px 1px #487eb0;
	color: #000000;
	padding: 0vh 0 1vh 0;
	margin-top: 4vh;
}
.inicio h5.limpa{
		background: #ED4C67;
	box-shadow: 2px 2px #487eb0;
	padding: 1vw;
	margin-left: 37vw;
	margin-right: 37vw;
	margin-top: 1vh;
	font-family: "Baloo";
	font-size: 0.7em;
	text-shadow: 1px 1px #000000;
	color: white;
	text-align: center;
}

/*!!!!!!!!!!!!!!!!!!!!!!!!!!!VENDA!!!!!!!!!!!!!!!!!*/

.venda{
	height: 100vh;
	width: 100vw;
	display: none;
	overflow: hidden;
}
.venda ul.produtos{
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}
.venda ul.produtos li{
	width: 40vw;
	padding: 3vh 0 0vh 5vw;
}
.venda li img{
	width: 20vw;
}
.venda div.mensagem{
	position:absolute;
  	opacity:0;
  	padding:3vw;
  	padding-left: 10vw;
}
.venda div.mensagem h3.mens{
	text-align: center;
	font-family: "Baloo";
	font-size: 1.5em;
	text-shadow: 1px 1px #487eb0;
	color: #000000;
	letter-spacing: 2vw;
	
}
.venda h1{
	text-align: center;
	font-family: "Baloo";
	font-size: 1.3em;
	text-shadow: 2px 2px #487eb0;
	color: #ED4C67;
	padding: 2vh 0 0.5vh 0;
	letter-spacing: 2vw;
}
.venda h2{
	text-align: center;
	font-family: "Baloo";
	font-size: 1.7em;
	text-shadow: 1px 1px #ED4C67;
	color: #487eb0;
	padding: 1vh 0 0 0;
	letter-spacing: 2vw;
}
.venda p{
	text-align: center;
	font-family: "Baloo";
	font-size: 0.9em;
	text-shadow: 1px 1px #487eb0;
	color: #000000;
	padding: 1vh 0 0 0;
}
.venda h3{
	text-align: center;
	font-family: "Baloo";
	font-size: 1.5em;
	text-shadow: 1px 1px #487eb0;
	color: #ED4C67;
	letter-spacing: 2vw;
}
.venda ul.botoes{
	display: flex;
	text-align: center;
}
.venda ul.botoes li{
	width: 40vw;
	padding: 3vh 0 0vh 5vw;
}
.venda ul.botoes li img{
	width: 10vw;
}
/*////////////////COMPRA/////////////*/
.compra{
	height: 100vh;
	width: 100vw;
	display: none;
	overflow: hidden;
}
.compra ul.produtos{
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}
.compra ul.produtos li{
	width: 40vw;
	padding: 3vh 0 0vh 5vw;
}
.compra li img{
	width: 20vw;
}

.compra h1{
	text-align: center;
	font-family: "Baloo";
	font-size: 1.3em;
	text-shadow: 2px 2px #487eb0;
	color: #ED4C67;
	padding: 2vh 0 0.5vh 0;
	letter-spacing: 2vw;
}
.compra h2{
	text-align: center;
	font-family: "Baloo";
	font-size: 1.7em;
	text-shadow: 1px 1px #ED4C67;
	color: #487eb0;
	padding: 1vh 0 0 0;
	letter-spacing: 2vw;
}
.compra p{
	text-align: center;
	font-family: "Baloo";
	font-size: 0.9em;
	text-shadow: 1px 1px #487eb0;
	color: #000000;
	padding: 1vh 0 0 0;
}
.compra h3{
	text-align: center;
	font-family: "Baloo";
	font-size: 1.5em;
	text-shadow: 1px 1px #487eb0;
	color: #ED4C67;
	letter-spacing: 2vw;
}
.compra ul.botoes{
	display: flex;
	text-align: center;
}
.compra ul.botoes li{
	width: 40vw;
	padding: 3vh 0 0vh 5vw;
}
.compra ul.botoes li img{
	width: 10vw;
}

/*/////////////////VENDA FINAL///////////////*/
.vendafinal{
	height: 100%;
	width: 100%;
	display: none;
	overflow: hidden;
}
.vendafinal h2{
	text-align: center;
	font-family: "Baloo";
	font-size: 1.5em;
	text-shadow: 1px 1px #487eb0;
	color: #ED4C67;
	text-align: center;
	margin-top: 30vh;
}
.vendafinal h1{
	text-align: center;
	font-family: "Baloo";
	font-size: 2em;
	text-shadow: 1px 1px #ED4C67;
	color: #487eb0;
	padding: 1vh 0 0 0;
	letter-spacing: 2vw;
}
.vendafinal h3.menu{
	background: #ED4C67;
	box-shadow: 2px 2px #487eb0;
	padding: 5vw;
	margin-left: 15vw;
	margin-right: 15vw;
	margin-top: 20vh;
	font-family: "Baloo";
	font-size: 1em;
	text-shadow: 1px 1px #000000;
	color: white;
	text-align: center;
}